/* report_styles_header.css */
.floating-header {
  top: 0;
  left: 0;
  z-index: 1030;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

/* This effectively replaces "translate-y-[-100%]" */
.floating-header.hide {
  transform: translateY(-100%);
}

.floating-header.shrink {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  opacity: 0.95;
}